
name: Action

on:
  workflow_dispatch:

    inputs:
      rom1:
        description: '底包url'
        required: true
        default: ''

      rom2:
        description: '目标包url'
        required: true
        default: 'a'

      patch_shell0:
        description: '一些执行的脚本 会分解rom为img后开始执行'
        required: true
        default: 'ls ; '

      patch_shell1:
        description: '一些执行的脚本 会在所有镜像解包后的所在目录下开始执行'
        required: true
        default: 'echo "阉割脚本-------------------" ; curl -sL https://raw.githubusercontent.com/zhlhlf/text/main/sys-del_project/coloros14.sh | sudo bash ; '

      patch_shell2:
        description: '一些执行的脚本 会在打包zip前开始执行'
        required: true
        default: 'ls ; '

      ssh:
        description: 'ssh'
        required: true
        default: 'false'
        type: boolean

jobs:
    build:
      runs-on: ubuntu-20.04

      steps:
        - name: 最大化并挂载构建空间
          run: |  
            pwd=`pwd` 
            files=`basename $pwd`
            cd ..
            rm -r $files
            sudo ln -sf /mnt $files
            sudo chmod 777 *
            sudo swapoff -a
            sudo rm -f /mnt/swapfile
            cd $pwd
            df -h ./


        - name: 获取本仓库源码
          uses: actions/checkout@main
          with:
            fetch-depth: 1

        - name: 操作
          run: |  
              sudo bash bin/setup.sh > /dev/null 2>&1

              cat > zhlhlf0.sh <<endl
              ${{ inputs.patch_shell0 }}
              endl

              cat > zhlhlf1.sh <<endl
              ${{ inputs.patch_shell1 }}
              endl

              cat > zhlhlf2.sh <<endl
              ${{ inputs.patch_shell2 }}
              endl

              echo "sudo bash bin/start.sh \"${{ inputs.rom1 }}\" \"${{ inputs.rom2 }}\"" > ffff.sh
              if [ ${{ inputs.ssh }} = "true" ];then
                curl -SL http://raw.github.com/zhlhlf/text/main/ssh.sh | sudo bash
              else
                sudo bash ffff.sh
              fi
              mkdir 666
              sudo mv `find out -name "*zip"` 666/
              
        - name: 上传onedrive
          run: |
              wget -q https://raw.githubusercontent.com/zhlhlf/text/main/onedrive_mount.sh && sudo sh onedrive_mount.sh ${{ secrets.RCK }} 临时存放文件
